.entity {
  border-bottom: 1px solid #008291;
  padding: 0.2rem; }
  .entity p {
    margin: 0; }
    .entity p.type {
      font-weight: 600; }
  .entity .picto {
    display: block;
    width: 20px;
    height: 20px; }
  .entity.isSelected {
    background: grey; }
  .entity:hover {
    background: lightgrey;
    cursor: pointer; }
