.entity {
    border: 1px solid #008291;
    //border-radius: 4px;
    margin: 0 1rem 0.8rem;
    padding: 0.2rem;

    p {
        margin: 0;

        &.type {
            font-weight: 600;
        }
    }

    .picto {
        display: block;
        width: 20px;
        height: 20px;
    }

    &.isSelected {
        border: 1px solid #F7F7F2;
    }

    &:hover {
        border: 1px solid #F7F7F2;
        cursor: pointer;
    }
}
