#contact-bloc {
  background: #3A5068; }
  #contact-bloc h1 {
    color: #ffffff; }
  #contact-bloc .contact-details {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px; }
  #contact-bloc .line2 {
    margin: 0 0 20px 23px; }
