#contact-bloc {
    background: #3A5068;

    h1 {
        color: #ffffff;
    }

    .contact-details {
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
    }

    .line2 {
        margin: 0 0 20px 23px;
    }
}