.menu-container {
  padding: 0 !important;
}

.home-container {

  .home-block {
    padding: 100px 15%;

    @media (max-width: 768px) {
      padding: 100px 50px !important;
    }
  }

  #activites,
  #publications,
  #actualites,
  #a-propos {
    border-top: 6px solid #EEE;
  }
}

.favicon {
  background: #4acaa8;
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: #FFF;
}