.home-container {
  padding-bottom: 100px; }
  .home-container .a-propos {
    border-top: 6px solid #EEE; }
  .home-container .publications {
    border-top: 6px solid #EEE; }
  .home-container .actualite {
    border-top: 6px solid #EEE; }

img {
  width: 200px; }
