.goToWrapper {
  text-align: center; }

.goToButton {
  display: inline-flex;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #e6e6e8;
  color: darkcyan;
  margin: 20px;
  align-items: center;
  justify-content: center; }
