.parallax-info:after {
  content: "";
  display: block;
  background: white;
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: -40%;
  left: 50%;
  margin-left: -4000px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}