#header {
  background-color: #F7F7F2;
  color: #008291;
  overflow: hidden;
}

#infos {
  overflow: hidden;
}

#technos {
  background-color: #008291;
  overflow: auto;
}

#experiences {
  background-color: #F7F7F2;
  color: #2c3e50;
  overflow: auto;
}