#header {
  background-color: #F7F7F2;
  color: #008291;
  overflow: hidden;
}

#header:after {
  content: "";
  display: block;
  background: white;
  height: 135px;
  margin-bottom: -40px;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  transform: skew(0deg,-2deg);
  -ms-transform: skew(0deg,-2deg);
  -webkit-transform: skew(0deg,-2deg);
}

//#infos:before {
//  content: "";
//  display: block;
//  background: white;
//  height: 135px;
//  margin-top: -30px;
//  -webkit-transform: rotate(-2deg);
//  -ms-transform: rotate(-2deg);
//  transform: rotate(-2deg);
//  transform: skew(0deg,-2deg);
//  -ms-transform: skew(0deg,-2deg);
//  -webkit-transform: skew(0deg,-2deg);
//}

#infos {
  background-color: #008291;
  overflow: hidden;
}

#technos {
  background-color: #011638;
  overflow: auto;
}

#experiences {
  background-color: #F7F7F2;
  color: #2c3e50;
  overflow: auto;
}