#devis-bloc {
    background: #f1f1f1;

    .form-control {
        border-radius: 0;
    }

    .alert {
        border-radius: 0;
        margin: 0 15px 15px;

        button {
            margin: 0;
        }
    }

    textarea.form-control {
        width: 215px !important;
    }

    button.btn {
        margin: 15px !important;
        border-radius: 0;
    }

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
}

