.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-right: 1px dotted #c1c1c1;
  border-bottom: 1px dotted #c1c1c1;

  &.empty {
    background-color: #FFF;

    &:hover {
      background-image: url("../../assets/house_1.png");
      opacity: 0.2;
    }
  }

  &.house_1 {
    background-image: url("../../assets/house_1.png");
  }

  &.shop_1 {
    background-image: url("../../assets/shop_1.png");
  }

  &.road_vertical {
    background-image: url("../../assets/road_vertical.png");
  }

  &.road_horizon {
    background-image: url("../../assets/road_horizon.png");
  }

  &.road_center {
    background-image: url("../../assets/road_center.png");
  }
}