.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-right: 1px dotted #c1c1c1;
  border-bottom: 1px dotted #c1c1c1;

  &.empty {
    background-color: #FFF;
  }

  &:hover {
    background-image: url("../../assets/house_1.png");
    opacity: 0.2;
  }
}