.form-wrapper {
  font-family: Verdana; }
  .form-wrapper .row {
    margin-bottom: 30px; }
  .form-wrapper label {
    color: #FFFFFF;
    display: block;
    text-align: left; }
  .form-wrapper input[type=text] {
    background-color: #273548;
    height: 20px;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #536274;
    color: #536274;
    font-size: 16px; }
  .form-wrapper input:focus,
  .form-wrapper select:focus,
  .form-wrapper textarea:focus,
  .form-wrapper button:focus {
    outline: none; }
