.form-wrapper {
  text-align: left; }
  .form-wrapper .input-radio {
    margin-bottom: 30px; }
    .form-wrapper .input-radio label {
      display: block; }
  .form-wrapper button {
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: #e6e6e8;
    padding: 20px; }
    .form-wrapper button:focus {
      cursor: pointer; }
  .form-wrapper .input-file-wrapper .label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold; }
  .form-wrapper .input-file-wrapper .label-file:hover {
    color: #25a5c4; }
  .form-wrapper .input-file-wrapper .input-file {
    display: none; }
