.cell {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-right: 1px dotted #c1c1c1;
    border-bottom: 1px dotted #c1c1c1;
    position: relative;

    &.empty {
        &:hover {
            background-image: url("../../assets/house_1.png");
            opacity: 0.2;
        }
    }

    &.house_1 {
        background-image: url("../../assets/house_1.png");
    }

    &.shop_1 {
        background-image: url("../../assets/shop_1.png");
    }

    &.road_vertical {
        background-image: url("../../assets/road_vertical.png");
    }

    &.road_horizon {
        background-image: url("../../assets/road_horizon.png");
    }

    &.road_center {
        background-image: url("../../assets/road_center.png");
    }

    &.vegetation_1 {
        background-image: url("../../assets/vegetation_1.png");
    }

    //&.connected {
    //    //border-color: green;
    //    //border-width: 4px;
    //    border-right: 4px solid green;
    //    border-bottom: 4px solid green;
    //    width: 17px;
    //    height: 17px;
    //}

    .infos {
        position: absolute;
        display: none;

        &:hover {
            display: block;
            background-color: #011638;
            opacity: 0.5;
            color: #FFFFFF;
        }
    }

    .not-connected {
        position: absolute;
        width: 5px;
        height: 5px;
        background: red;
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
}
