.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-right: 1px dotted #c1c1c1;
  border-bottom: 1px dotted #c1c1c1; }
  .cell.empty {
    background-color: #FFF; }
    .cell.empty:hover {
      background-image: url("../../assets/house_1.png");
      opacity: 0.2; }
  .cell.house_1 {
    background-image: url("../../assets/house_1.png"); }
  .cell.shop_1 {
    background-image: url("../../assets/shop_1.png"); }
  .cell.road_vertical {
    background-image: url("../../assets/road_vertical.png"); }
  .cell.road_horizon {
    background-image: url("../../assets/road_horizon.png"); }
  .cell.road_center {
    background-image: url("../../assets/road_center.png"); }
  .cell.vegetation_1 {
    background-image: url("../../assets/vegetation_1.png"); }
  .cell .infos {
    position: absolute;
    display: none; }
    .cell .infos:hover {
      display: block;
      background-color: #011638;
      opacity: 0.5;
      color: #FFFFFF; }
