#experiences {

  text-align: center;
  padding-bottom: 40px;

  .timeline-soat {

    li:nth-child(1) {
      padding-top: 20px;
    }

    li:nth-child(2) {
      margin-top: -164px;
    }

    li:nth-child(3) {
      margin-top: -135px;
      padding-bottom: 35px;
    }

  }

  .timeline-sopra {

    li:nth-child(1) {
      padding-top: 20px;
    }

    li:nth-child(2) {
      margin-top: -232px;
    }

    li:nth-child(3) {
      margin-top: -140px;
      padding-bottom: 35px;
    }

  }

  .timeline-polytech {

    li:nth-child(1) {
      padding-top: 20px;
    }

    li:nth-child(2) {
      margin-top: -164px;
    }

    li:nth-child(3) {
      margin-top: -95px;
    }

    li:nth-child(4) {
      margin-top: -182px;
    }


  }

}