#experiences {
  text-align: center;
  padding-bottom: 40px; }
  #experiences .timeline-soat li:nth-child(1) {
    padding-top: 20px; }
  #experiences .timeline-soat li:nth-child(2) {
    margin-top: -164px; }
  #experiences .timeline-soat li:nth-child(3) {
    margin-top: -135px;
    padding-bottom: 35px; }
  #experiences .timeline-sopra li:nth-child(1) {
    padding-top: 20px; }
  #experiences .timeline-sopra li:nth-child(2) {
    margin-top: -232px; }
  #experiences .timeline-sopra li:nth-child(3) {
    margin-top: -140px;
    padding-bottom: 35px; }
  #experiences .timeline-polytech li:nth-child(1) {
    padding-top: 20px; }
  #experiences .timeline-polytech li:nth-child(2) {
    margin-top: -164px; }
  #experiences .timeline-polytech li:nth-child(3) {
    margin-top: -95px; }
  #experiences .timeline-polytech li:nth-child(4) {
    margin-top: -182px; }
