.timeline h3 {
  position: absolute;
  left: 54%;
  margin-top: 28px;
  font-weight: 400;
  font-size: 1.5rem; }

.timeline h5 {
  position: absolute;
  left: 54%;
  margin-top: 63px;
  font-weight: 400;
  font-size: 1rem; }

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
  margin: 0 auto;
  padding-top: 50px;
  background: #008291; }

.timeline ul.timeline-list {
  padding: 0;
  margin: 0; }

.timeline ul.timeline-list::before {
  content: '';
  position: relative;
  display: block;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFF;
  border: 4px solid #008291; }

.timeline.timeline-soat ul.timeline-list::before {
  background-image: url("../../assets/logo_soat.png"); }

.timeline.timeline-sopra ul.timeline-list::before {
  background-image: url("../../assets/logo_sopra_2.png"); }

.timeline.timeline-polytech ul.timeline-list::before {
  background-image: url("../../assets/logo_polytech.png"); }

.timeline ul li::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-top: 27px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #008291; }

.timeline ul li div {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 500px;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16); }
  .timeline ul li div h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem; }
    .timeline ul li div h4 i {
      margin-right: 1rem; }

.timeline ul li div::before {
  content: '';
  position: absolute;
  top: 28px;
  width: 0;
  height: 0;
  border-style: solid; }

.timeline ul li:nth-child(even) div {
  left: 45px; }

.timeline ul li:nth-child(even) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #FFFFFF transparent transparent; }

.timeline ul li:nth-child(odd) div {
  left: -568px; }

.timeline ul li:nth-child(odd) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #FFFFFF; }

.timeline .elt-ul,
.timeline .elt-li {
  clear: both;
  display: block;
  text-align: left;
  color: #7d878f;
  font-size: 1rem; }

.timeline .elt-li {
  margin-bottom: 0.5rem; }
  .timeline .elt-li::before {
    content: '';
    position: absolute;
    left: 8%;
    margin-top: 7px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #008291; }

.timeline span.techno {
  display: inline-block;
  margin: 0.5rem;
  background-color: #C1C1C1;
  border-radius: 25px;
  padding: 0.4rem 0.5rem;
  font-size: 14px;
  width: 90%; }

@media (max-width: 1100px) {
  .timeline h3,
  .timeline h5 {
    left: 25%; }
  .timeline h3 {
    margin-top: 10px;
    font-size: 1.3rem; }
  .timeline h5 {
    margin-top: 38px; }
  .timeline ul li {
    position: relative;
    display: block;
    width: auto;
    margin: 0.5rem 1rem !important;
    background: none;
    padding-top: 20px; }
    .timeline ul li::after {
      content: none; }
    .timeline ul li div {
      display: block;
      width: auto;
      left: inherit !important;
      right: inherit !important; }
      .timeline ul li div::before {
        content: none; }
  .timeline ul.timeline-list::before {
    left: 13%;
    width: 60px;
    height: 60px; } }
