nav {
  background-color: #4acaa8;
  position: fixed;
  padding: 0;
  height: 100vh;
  width: inherit;
  overflow: auto;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0; }
  @media (max-width: 1000px) {
    nav {
      position: relative;
      height: auto; }
      nav .nav-links {
        display: none; } }
  nav .nav-header {
    text-align: center; }
    nav .nav-header img {
      width: 200px;
      border-radius: 90px;
      margin: 50px; }
    nav .nav-header h1 {
      color: #d1f1e9; }
    nav .nav-header .description {
      font-style: italic;
      color: #d1f1e9; }
  nav .nav-links {
    margin-top: 35px; }
    nav .nav-links ul {
      list-style: none;
      padding: 0; }
      nav .nav-links ul li {
        text-align: center;
        border-top: solid 2px #5ccfb0;
        display: block;
        padding: 0;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer; }
        nav .nav-links ul li a {
          text-decoration: none;
          margin: 0px;
          padding: 15px 30px;
          display: block;
          width: 100%;
          height: 100%;
          color: #ffffff; }
          nav .nav-links ul li a:hover {
            background: #FFF;
            color: #5B5B5B; }
      nav .nav-links ul li:last-child {
        border-bottom: solid 2px #5ccfb0; }
  nav .nav-footer {
    text-align: center;
    padding-left: 0;
    margin: 40px 0; }
    nav .nav-footer ul {
      padding: 0; }
      nav .nav-footer ul li {
        list-style: none;
        display: inline-block;
        font-size: 30px;
        margin: 0 20px; }
        nav .nav-footer ul li i {
          color: #FFF; }
          nav .nav-footer ul li i:hover {
            color: #5B5B5B; }
