@import 'custom_navbar.scss';

@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed !important;
        margin: 0 -15px !important;
        height: 100vh !important;
        width: inherit;
        overflow: auto !important;
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
        border-radius: 0 !important;
    }
}

.navbar-default {
    background-color: #4acaa8 !important;

    a, li {
        color: #FFF  !important;
    }
}