@import 'custom_navbar.scss';

@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed !important;
        margin: 0 -15px !important;
        height: 100vh !important;
        width: inherit;
        overflow: auto !important;
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
        border-radius: 0 !important;
    }
}


.navbar-default {
    background-color: #4acaa8 !important;

    img {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    h1 {
        color: #d1f1e9;
    }

    .description {
        font-style: italic;
        color: #d1f1e9;
    }

    .navbar-collapse {
        margin-top: 35px;
        ul {
            list-style: none;
            padding: 0;
            li {
                border-top: solid 2px #5ccfb0;
                display: block;
                padding: 15px 0;
                color: #ffffff;
                text-decoration: none;
            }
            li:hover {
                background: #FFF;
                color: #4acaa8;

            }
        }
    }
}