nav {
  background-color: #4acaa8;
  position: fixed;
  padding: 0;
  height: 100vh;
  width: inherit;
  overflow: auto;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0; }
  @media (max-width: 1000px) {
    nav {
      position: relative;
      height: auto; }
      nav .nav-links {
        display: none; } }
  nav .nav-header {
    text-align: center; }
    nav .nav-header img {
      width: 200px; }
    nav .nav-header h1 {
      color: #d1f1e9; }
    nav .nav-header .description {
      font-style: italic;
      color: #d1f1e9; }
  nav .nav-links {
    margin-top: 35px; }
    nav .nav-links ul {
      list-style: none;
      padding: 0; }
      nav .nav-links ul li {
        border-top: solid 2px #5ccfb0;
        display: block;
        padding: 15px 0;
        color: #ffffff;
        text-decoration: none; }
      nav .nav-links ul li:hover {
        background: #FFF;
        color: #4acaa8; }
