nav {

    background-color: #4acaa8;
    position: fixed;
    padding: 0;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;

    @media (max-width: 1000px) {
        position: relative;
        height: auto;

        .nav-links {
            display: none;
        }
    }

    .nav-header {

        text-align: center;

        img {
            width: 200px;
        }

        h1 {
            color: #d1f1e9;
        }

        .description {
            font-style: italic;
            color: #d1f1e9;
        }

    }

    .nav-links {

        margin-top: 35px;

        ul {
            list-style: none;
            padding: 0;

            li {
                border-top: solid 2px #5ccfb0;
                display: block;
                padding: 15px 0;
                color: #ffffff;
                text-decoration: none;
            }

            li:hover {
                background: #FFF;
                color: #4acaa8;
            }
        }
    }
}