nav {

    justify-content: space-between;
    background-color: #4acaa8;
    position: fixed;
    padding: 0;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;

    @media (max-width: 1000px) {
        position: relative;
        height: auto;

        .nav-links {
            display: none;
        }
    }

    .nav-header {

        text-align: center;
        margin-bottom: 0 !important;

        @media (max-width: 1000px) {
            margin-bottom: 100px;
        }
        
        img {
            width: 200px;
            border-radius: 90px;
            margin: 50px;
        }

        h1 {
            color: #d1f1e9;
            font-size: 30px;
        }

        .description {
            font-style: italic;
            color: #d1f1e9;
        }

    }

    .nav-links {

        margin-top: 75px;

        @media (max-height: 850px) {
            margin-top: 25px;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                text-align: center;
                border-top: solid 2px #5ccfb0;
                display: block;
                padding: 0;
                font-size: 18px;
                text-decoration: none;
                cursor: pointer;

                a {
                    text-decoration: none;
                    margin: 0px;
                    padding: 15px 30px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #ffffff;

                    &:hover {
                        background: #FFF;
                        color: #5B5B5B;
                    }
                }
            }

            li:last-child {
                border-bottom: solid 2px #5ccfb0;
            }

        }
    }

    .nav-footer {
        
        text-align: center;
        padding-left: 0;
        margin: 15px auto;
        width: 100%;
        padding-top: 100px;

        @media (max-width: 1000px) {
            margin-top: 25px;
            padding-top: 0;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                font-size: 30px;
                margin: 0 20px;

                i {
                    color: #FFF;

                    &:hover {
                        color: #5B5B5B;
                    }
                }
            }
        }
    }
}