#infos {
  text-align: center;
  color: #008291;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 20%;

  .info-elt {
    display: none;
    width: 45%;
    text-align: left;
    margin: 0.5rem;

    i {
      margin: 0.1rem 1rem;
      vertical-align: middle;
    }

    .adresse2 {
      margin-left: 3rem;
    }
  }

  p {
    text-align: center;
    margin: 3rem auto;
    width: 50%;
    font-size: 1.3rem;
    color: #7d878f;
  }
}

@media(max-width: 1100px) {

  #infos {

    padding: 0 10%;

    p {
      margin: 1rem 1rem 2rem auto;
      width: auto;
    }
  }
}