#footer {
  background-color: #2c3e50;
  padding: 1rem;
  margin: 0;
  text-align: center;

  .media-wrapper i {
    font-size: 1.5rem;
    margin: 1rem;

    &:hover {
      color: #008291;
      cursor: pointer;
    }
  }

  p {
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
    color: #e6e6e8;
  }
}