#footer {
  background-color: #2c3e50;
  padding: 1rem;
  margin: 0;
  text-align: center; }
  #footer .media-wrapper i {
    font-size: 1.5rem;
    margin: 1rem; }
    #footer .media-wrapper i:hover {
      color: #008291;
      cursor: pointer; }
  #footer p {
    font-size: 0.8rem; }
  #footer a {
    text-decoration: none;
    color: #e6e6e8; }
