.footer {

  padding: 10px;
  background-color: #3A5068;
  text-align: center;

  .copyright {
    color: #FFFFFF;
    margin: 0;
    
    p {
      font-size: 12px !important;
      margin: 0;
    }
  }
}