#toolbar {
    display: inline-block;
    vertical-align: top;
    padding: 0 0.2rem;
    color: #FFFFFF;
    min-width: 120px;

    .picto {
        margin: 0.3rem;
        vertical-align: middle;

        &.house_1 {
            background-image: url("../../assets/house_1.png");
        }

        &.shop_1 {
            background-image: url("../../assets/shop_1.png");
        }

        &.road_1 {
            background-image: url("../../assets/road_horizon.png");
        }

        &.vegetation_1 {
            background-image: url("../../assets/vegetation_1.png");
        }

    }

}
