#toolbar {
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
    min-width: 120px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

    .picto {
        margin: 0.3rem;
        vertical-align: middle;

        &.house_1 {
            background-image: url("../../assets/house_1.png");
        }

        &.shop_1 {
            background-image: url("../../assets/shop_1.png");
        }

        &.road_1 {
            background-image: url("../../assets/road_horizon.png");
        }

        &.vegetation_1 {
            background-image: url("../../assets/vegetation_1.png");
        }

    }

}
