#toolbar {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.2rem;
  color: #FFFFFF;
  min-width: 120px; }
  #toolbar .picto {
    margin: 0.3rem;
    vertical-align: middle; }
    #toolbar .picto.house_1 {
      background-image: url("../../assets/house_1.png"); }
    #toolbar .picto.shop_1 {
      background-image: url("../../assets/shop_1.png"); }
    #toolbar .picto.road {
      background-image: url("../../assets/road_horizon.png"); }
    #toolbar .picto.vegetation_1 {
      background-image: url("../../assets/vegetation_1.png"); }
