@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: #191b1c;
    font-size: 35px !important;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    padding-bottom: 30px;
}

h2, h3 {
    color: #3A5068;
    font-family: 'Quicksand', cursive;
    font-weight: 800;
}


p {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 300;
    color: #5B5B5B;
}

li {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
}

.container {
    width: 100% !important;
    padding: 40px 25% 40px 25%;
}

@media screen and (max-width: 1830px) {
    .container {
        padding: 40px 21% 40px 21%;
    }
}

@media screen and (max-width: 1590px) {
    .container {
        padding: 40px 15% 40px 15%;
    }
}

@media screen and (max-width: 1290px) {
    .container {
        padding: 40px 10% 40px 10%;
    }
}

@media screen and (max-width: 1110px) {
    .container {
        padding: 40px 5% 40px 5%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding: 40px 10% 40px 10%;
    }
}

.row {
    margin: 0px;
}