#header-bloc {
    padding-top: 56px;
    text-align: center;
}

.header-logo img {
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

#header-bloc .sentance {
    background: #3A5068;
    text-align: center;
}

#header-bloc .sentance h2 {
    color: #ffffff;
    margin-bottom: 20px;
}
