#prestations-bloc {
    background: #f1f1f1;

    table {
        border: none;
    }

    table span {
        float: right;
    }

    td {
        vertical-align: middle;
        padding: 10px;
        background: #fff;
        font-family: 'Roboto',Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        font-weight: 300;
        color: #5B5B5B;

        &.name {
            font-weight: 600;
        }

        &.detail {
            font-size: 12px;
        }

        &.prestation:hover {
            background: #0078d7;
            color: #ffffff;
            cursor: pointer;
        }
    }

    th {
        text-align: center;
        padding: 8px;
        background: #3A5068;
        font-family: 'Roboto',Helvetica,Arial,sans-serif;
        font-size: 17px;
        color: #fff;
    }

    .card-bloc {
        padding: 10px;
        display: inline-flex;
        width: 47%;
    }

    .info {
        background: #fff;
        padding: 10px;
    }

    .prestation-table td {
        padding: 20px;
    }

    .detailPrestationPopin {
        margin: 0 15px;

        ul {
            padding: 10px;
        }

        img {
            width: 100%;
        }

        p {
            text-align: justify;
            text-justify: inter-word;
            margin: 20px;
        }

        h4 {
            font-size: 16px;
            font-family: 'Roboto',Helvetica,Arial,sans-serif;
        }
    }

    @media screen and (max-width: 1000px) {
        .ReactModal__Content {
            left: 5% !important;
            right: 5% !important;
        }
    }
}