.summary {
  padding: 100px 20%;
  color: #777;
  text-align: justify; }
  @media (max-width: 768px) {
    .summary {
      padding: 100px 50px !important; } }
  .summary h1 {
    color: #4acaa8;
    font-size: 35px; }
  .summary h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px; }
  .summary ul {
    font-size: 18px;
    margin-bottom: 25px; }
  .summary p {
    font-size: 18px;
    margin-bottom: 25px; }
