.summary {
  color: #777;
  text-align: justify; }
  .summary h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px; }
  .summary ul {
    font-size: 18px;
    margin-bottom: 25px; }
  .summary p {
    font-size: 18px;
    margin-bottom: 25px; }
