#valeurs-bloc {
  background: #ffffff; }
  #valeurs-bloc .valeur-item {
    padding: 20px;
    text-align: center; }
    #valeurs-bloc .valeur-item img {
      width: 100px;
      padding-bottom: 25px; }
  #valeurs-bloc .valeur-title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-left: 40px;
    display: inline-block;
    font-family: 'Comfortaa', cursive; }

#prestations-bloc p,
#valeurs-bloc p {
  font-size: 16px;
  text-align: justify; }
