#publications {
  text-align: justify; }
  #publications .title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 35px; }
  #publications .col-md-6 {
    padding-left: 0 !important; }
    #publications .col-md-6 .type-publication {
      font-size: 18px; }
  #publications ul {
    margin-bottom: 25px; }
    #publications ul li {
      font-size: 16px;
      margin-top: 20px; }
