#actualites {
  padding: 100px 350px !important;
  color: #777;
  text-align: justify; }
  @media (max-width: 768px) {
    #actualites {
      padding: 100px 50px !important; } }
  #actualites .title {
    color: #4acaa8;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 35px; }
  #actualites .col-md-6 {
    padding-left: 0 !important; }
    @media (max-width: 768px) {
      #actualites .col-md-6 {
        padding-right: 0 !important; } }
    #actualites .col-md-6 img {
      width: 75%; }
      @media (max-width: 768px) {
        #actualites .col-md-6 img {
          margin: 0 auto;
          width: 100%; } }
  #actualites .titre-article {
    font-size: 20px;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      #actualites .titre-article {
        margin-top: 20px; } }
  #actualites p {
    color: #777;
    font-size: 18px; }
