.actualite {
    
        padding: 100px 350px !important;
        @media (max-width: 768px) {
            padding: 100px 50px !important;
        }
        
        color: #777;
        text-align: justify;
        
        .title {
            color: #4acaa8;
            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 35px;
        }

        .col-md-6 {
            padding-left: 0 !important;            
            @media (max-width: 768px) {
                padding-right: 0 !important;
            }

            img {
                width: 75%;
        
                @media (max-width: 768px) {
                    margin: 0 auto;
                    width: 100%;
                }
            }

        }
        .titre-article {
            font-size: 20px;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                margin-top: 20px;
            }
        }

        p {
            color: #777;
            font-size: 18px;
        }
        
    }