body {
  margin: 0 !important;
  color: #e6e6e8 !important;
  font-family: 'Raleway', sans-serif;

  h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem;
  }

}

@media(max-width: 1100px) {

  html {
    font-size: 80% !important;
  }

}

@media print {

  html {
    font-size: 65% !important;

    #flags,
    #footer {
      display: none;
    }

    #infos,
    #technos {
      padding: 0 10%;
    }

    #header {

      img {
        display: block;
      }

      h1 {
        margin-top: 1.5rem;
      }

      &:after {
        height: 75px !important;
      }
    }

    #infos {

      .info-elt {
        display: inline-block;
      }

      p {
        width: 100%;
        background-color: #008291;
        color: #FFFFFF;
        border-radius: 25px;
        padding: 1rem;
      }
    }

    #technos {

      display: block;
      padding-bottom: 1rem;

      .title h3 {
        margin-bottom: 0;
      }

      .list {
        width: 50%;
        display: inline-block;
      }

    }

    #experiences {
      padding-top: 3rem;

      .timeline {

        ul.timeline-list::before {
          width: 70px;
          height: 70px;
        }

        .elt-li::before {
          margin-top: 4px;
        }
      }

      .timeline-list li {
        margin: 1rem 2rem;
        padding: 0;
      }

      .timeline {

        h3 {
          margin-top: 16px;
        }

        h5 {
          margin-top: 44px;
        }

        .elt-li::before {
          left: 4%;
        }
      }

      span.techno {
        font-size: 0.9rem;
        width: fit-content;
        text-align: left;
        display: block;
        margin: 1rem 4rem;
      }
    }

    #recos {

      .demande {
        display: none;
      }

      .reco {
        display: inline-block;
      }
    }

    #contact {
      display: none;
    }
  }

  .en {

    #info p {
      padding: 0.5rem;
    }

    #experiences {

      padding-top: 0;

      .timeline {

        ul li div {
          padding: 0.2rem;
        }

        .timeline-list li:nth-child(1) {
          padding-top: 1rem !important;
        }

        .timeline-list li:nth-child(3) {
          padding-bottom: 1rem !important;
        }

        &.timeline-sopra,
        &.timeline-polytech {
          padding-top: 1rem !important;
        }

        &.timeline-soat li:nth-child(2) {
          padding-top: 3rem !important;
        }

        &.timeline-polytech li:nth-child(3) {
          padding-top: 3rem !important;
        }

      }
    }

  }

  .fr {

    display: inline-block;

    h2 {
      font-size: 2rem;
    }

    #header {

      h2 {
        margin: 1rem 0;
      }

      &:after {
        height: 46px !important;
      }
    }

    #infos {

      display: inline-block;
      width: 70%;
      padding: 0;
      float: right;

      p {
        width: 95%;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem 0.5rem auto;
      }

    }

    .left-side {
      display: inline-block;
      vertical-align: top;
      float: left;
      width: 27%;
    }

    #hobbies,
    #technos {
      width: 100%;
      padding: 0 1rem 4rem;
      overflow-y: hidden;
      display: block;

      .list {
        width: 100%;
        margin: 0;

        ul {
          padding: 0;
        }

        .elt {
          margin: 0.2rem;
          padding: 0.1rem 0.5rem;
        }
      }
    }

    #experiences {
      display: inline-block;
      width: 70%;
      padding: 0 0 1rem;
      float: right;
      overflow-y: hidden;
      margin-top: 1rem;

      h2 {
        margin: 1rem 0 0 !important;
      }

      h3 {
        margin-top: 5px !important;
        font-size: 1.2rem;
      }

      h5 {
        margin-top: 23px !important;
        font-size: 0.8rem;
      }

      .timeline {

        padding-top: 0 !important;

        h3,
        h5 {
          left: 45%;
        }

        span {
          font-size: 0.9rem;
        }

        .techno {
          font-size: 0.8rem;
          padding: 0.2rem 0.5rem !important;
          margin: 0.2rem 4rem !important;
          width: fit-content;
        }

        .timeline-list {

          margin-top: 0 !important;

          li {
            margin: 0.2rem 0.5rem !important;
            padding: 0rem !important;

            div {
              padding: 0.1rem !important;
              text-align: left;

              h4 {
                margin: 0.3rem;
                font-size: 1.1rem;
              }
            }

            &::before {
              display: none;
            }
          }

          &::before {
            width: 40px !important;
            height: 40px !important;
            border-width: 2px;
            margin: 0.8rem 0;
          }

        }

      }
    }

    #recos {
      display: none;
    }
  }

}