body {
  margin: 0 !important;
  color: #e6e6e8 !important;
  font-family: 'Raleway', sans-serif;

  h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem;
  }

}

@media print {

  html {
    font-size: 65% !important;

    #flags,
    #footer {
      display: none;
    }
    
    #infos,
    #technos {
      padding: 0 10%;
    }

    #header {

      img {
        display: block;
      }

      &:after {
        height: 75px !important;
      }
    }

    #infos {

      .info-elt {
        display: inline-block;
      }

      p {
        width: 100%;
        background-color: #F7F7F2;
        border-radius: 25px;
        padding: 1.5rem;
      }
    }

    #technos {

      display: block;
      padding-bottom: 1rem;

      .title h3 {
        margin-bottom: 0;
      }

    }

    #experiences {
      padding-top: 3rem;

      .timeline {

        ul.timeline-list::before {
          width: 70px;
          height: 70px;
        }

        .elt-li::before {
          margin-top: 4px;
        }
      }

      .timeline-soat .timeline-list {
        margin-top: 4rem;

        li:nth-child(1) {
          padding-top: 6rem;
        }
      }

      .timeline-sopra {
        padding-top: 3rem;
      }

      .timeline-polytech {
        padding-top: 2rem;
      }

      .timeline-list li {
        margin: 1rem 2rem;
        padding: 0;
      }

      .timeline {

        h3 {
          margin-top: 16px;
        }

        h5 {
          margin-top: 44px;
        }

        .elt-li::before {
          left: 4%;
        }
      }

      span.techno {
        font-size: 0.9rem;
      }
    }

    #recos {

      .demande {
        display: none;
      }

      .reco {
        display: inline-block;
      }
    }

    #contact {
      display: none;
    }
  }

}