body {
  margin: 0 !important;
  color: #e6e6e8 !important;
  font-family: 'Raleway', sans-serif;

  h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem;
  }

}

@media print {

  html {
    font-size: 65% !important;

    #flags,
    #footer {
      display: none;
    }
    
    #infos,
    #technos {
      padding: 0 10%;
    }

    #technos {
      margin-bottom: 20rem;
    }

    #header:after {
      height: 75px !important;
    }

    #infos {
      .info-elt {
        display: block;
      }

      p {
        width: 100%;
        background-color: #F7F7F2;
        border-radius: 25px;
        padding: 1.5rem;
      }
    }

    #technos {

      display: block;
      padding-bottom: 3rem;

      .title h3 {
        margin-bottom: 0;
      }

    }

    #experiences {
      padding-top: 2rem;

      .timeline-sopra {
        padding-top: 2rem;
      }

      .timeline-polytech {
        padding-top: 2rem;
      }

      .timeline-list li {
        margin: 1rem 2rem;
      }
    }

    .timeline .elt-li::before {
      left: 4%;
    }

    #recos {

      .demande {
        display: none;
      }

      .reco {
        display: inline-block;
      }
    }

    #contact {
      display: none;
    }
  }

}