body {
  margin: 0 !important;
  color: #e6e6e8 !important;
  font-family: 'Raleway', sans-serif; }
  body h1, body h2, body h3 {
    font-family: 'Raleway', sans-serif; }
  body h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0; }
  body h2 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 3rem;
    font-size: 2.5rem; }

@media (max-width: 1100px) {
  html {
    font-size: 80% !important; } }

@media print {
  html {
    font-size: 65% !important; }
    html #flags,
    html #footer {
      display: none; }
    html #infos,
    html #technos {
      padding: 0 10%; }
    html #header img {
      display: block; }
    html #header h1 {
      margin-top: 1.5rem; }
    html #header:after {
      height: 75px !important; }
    html #infos .info-elt {
      display: inline-block; }
    html #infos p {
      width: 100%;
      background-color: #008291;
      color: #FFFFFF;
      border-radius: 25px;
      padding: 1rem; }
    html #technos {
      display: block;
      padding-bottom: 1rem; }
      html #technos .title h3 {
        margin-bottom: 0; }
    html #experiences {
      padding-top: 3rem; }
      html #experiences .timeline ul.timeline-list::before {
        width: 70px;
        height: 70px; }
      html #experiences .timeline .elt-li::before {
        margin-top: 4px; }
      html #experiences .timeline-soat .timeline-list {
        margin-top: 4rem; }
        html #experiences .timeline-soat .timeline-list li:nth-child(1) {
          padding-top: 6rem; }
      html #experiences .timeline-sopra {
        padding-top: 3rem; }
      html #experiences .timeline-polytech {
        padding-top: 2rem; }
      html #experiences .timeline-list li {
        margin: 1rem 2rem;
        padding: 0; }
      html #experiences .timeline h3 {
        margin-top: 16px; }
      html #experiences .timeline h5 {
        margin-top: 44px; }
      html #experiences .timeline .elt-li::before {
        left: 4%; }
      html #experiences span.techno {
        font-size: 0.9rem; }
    html #recos .demande {
      display: none; }
    html #recos .reco {
      display: inline-block; }
    html #contact {
      display: none; }
  .fr {
    display: inline-block; }
    .fr h2 {
      font-size: 2rem; }
    .fr #header h2 {
      margin: 1rem 0; }
    .fr #header:after {
      height: 46px !important; }
    .fr #infos {
      display: inline-block;
      width: 70%;
      padding: 0;
      float: right; }
      .fr #infos p {
        width: 95%;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem 0.5rem auto; }
    .fr .left-side {
      display: inline-block;
      vertical-align: top;
      float: left;
      width: 27%; }
    .fr #hobbies,
    .fr #technos {
      width: 100%;
      padding: 0 1rem 4rem;
      overflow-y: hidden;
      display: block; }
      .fr #hobbies .list,
      .fr #technos .list {
        width: 100%;
        margin: 0; }
        .fr #hobbies .list ul,
        .fr #technos .list ul {
          padding: 0; }
        .fr #hobbies .list .elt,
        .fr #technos .list .elt {
          margin: 0.2rem;
          padding: 0.1rem 0.5rem; }
    .fr #experiences {
      display: inline-block;
      width: 70%;
      padding: 0 0 1rem;
      float: right;
      overflow-y: hidden; }
      .fr #experiences h2 {
        margin: 1rem 0 0 !important; }
      .fr #experiences h3 {
        margin-top: 5px !important;
        font-size: 1.2rem; }
      .fr #experiences h5 {
        margin-top: 23px !important;
        font-size: 0.8rem; }
      .fr #experiences .timeline {
        padding-top: 0 !important; }
        .fr #experiences .timeline h3,
        .fr #experiences .timeline h5 {
          left: 49%; }
        .fr #experiences .timeline .timeline-list {
          margin-top: 0 !important; }
          .fr #experiences .timeline .timeline-list li {
            margin: 0.2rem 0.5rem !important;
            padding: 0rem !important; }
            .fr #experiences .timeline .timeline-list li div {
              padding: 0.1rem !important;
              text-align: left; }
              .fr #experiences .timeline .timeline-list li div h4 {
                margin: 0.1rem;
                font-size: 1.1rem; }
            .fr #experiences .timeline .timeline-list li::before {
              display: none; }
          .fr #experiences .timeline .timeline-list::before {
            width: 40px !important;
            height: 40px !important;
            border-width: 2px;
            margin: 0.8rem 0; }
        .fr #experiences .timeline span.techno {
          padding: 0.2rem 0.5rem !important;
          margin: 0.2rem 4rem !important;
          width: auto; }
    .fr #recos {
      display: none; } }
