@import url("https://fonts.googleapis.com/css?family=Nunito|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  padding-top: 0;
  font-family: 'Lato';
  color: #888; }

h1 {
  font-size: 50px;
  font-weight: 700;
  color: #4acaa8; }

h2, h3 {
  color: #777;
  font-weight: 800; }

h4 {
  font-weight: 800;
  margin-top: 30px; }

p {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  color: #888; }
