@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    padding-top: 0;
}

h2, h3 {
    color: #3A5068;
    font-family: 'Quicksand', cursive;
    font-weight: 800;
}

h4 {
    font-weight: 800;
    margin-top: 30px;
}

p {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 300;
    color: #5B5B5B;
}

li {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
}
