#dashboard {

  background-color: #011638;
  color: #FFFFFF;
  padding: 1rem;
  margin: 1rem 0;

  p {
    margin: 0 1rem;
    display: inline-block;
    background-color: #008291;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    font-weight: 600;

    .money_infos {
      font-weight: 400;
      font-size: 0.9rem;
    }
  }

  .time {
    i {
      margin-left: 0.5rem;
      cursor: pointer;
      color: #F7F7F2;
      font-size: 0.8rem;
    }
  }

}