#dashboard {

  border: 1px solid #000;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;

  p {
    margin: 0 1rem;
    display: inline-block;
    background-color: #008291;
    padding: 0.2rem 1rem;
    border-radius: 20px;
  }
}