#technos {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15%;

  h2 {
    width: 100%;
    display: block;
  }

  .title {
    display: inline-flex;
    text-align: center;

    i {
      font-size: 2rem;
      vertical-align: middle;
      line-height: 1.6;
    }

    h3 {
      text-transform: uppercase;
      margin: 1rem;
    }
  }

  .list {
    margin: 1rem;
    padding: 2rem;
    border-radius: 3px;
    text-align: center;
    max-width: 500px;

    .elt {
      display: inline-block;
      margin: 0.5rem;
      background-color: #008291;
      border-radius: 7px;
      padding: 0.4rem;
      white-space: nowrap;
    }
  }

}