#technos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15%; }
  #technos h2 {
    width: 100%;
    display: block; }
  #technos .title {
    display: inline-flex;
    text-align: center; }
    #technos .title i {
      font-size: 2rem;
      vertical-align: middle;
      line-height: 1.6; }
    #technos .title h3 {
      text-transform: uppercase;
      margin: 1rem; }
  #technos .list {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    max-width: 500px; }
    #technos .list .elt {
      display: inline-block;
      margin: 0.5rem;
      background-color: #011638;
      border-radius: 25px;
      padding: 0.4rem 0.5rem;
      white-space: nowrap; }
