#hobbies,
#technos {

  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20%;

  h2 {
    width: 100%;
    display: block;
    margin-bottom: 3rem;
  }

  .title {
    display: inline-flex;
    text-align: center;

    i {
      font-size: 2rem;
      vertical-align: middle;
      line-height: 1.6;
    }

    h3 {
      text-transform: uppercase;
      margin: 1rem;
    }
  }

  .hobbies-wrapper,
  .technos-wrapper {
    display: inline-block;
  }

  .list {
    text-align: center;
    margin-bottom: 2rem;
    width: 50%;
    display: inline-block;
    vertical-align: top;

    i {
      margin-left: 0.5rem;
    }

    ul {
      padding: 0 2rem 0 0;
      margin-top: 0;
    }

    .elt {
      display: inline-block;
      margin: 0.5rem;
      background-color: #011638;
      border-radius: 25px;
      padding: 0.4rem 0.5rem;
      white-space: nowrap;
      font-size: 0.9rem;
    }
  }

}

@media(max-width: 1100px) {

  #technos {
    padding: 0 10%;

    .list {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}