#technos {

  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20%;

  h2 {
    width: 100%;
    display: block;
  }

  .title {
    display: inline-flex;
    text-align: center;

    i {
      font-size: 2rem;
      vertical-align: middle;
      line-height: 1.6;
    }

    h3 {
      text-transform: uppercase;
      margin: 1rem;
    }
  }

  .list {
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    text-align: left;

    ul {
      padding: 0;
      margin-top: 0;
      margin-left: 3rem;
    }

    .elt {
      display: inline-block;
      margin: 0.5rem;
      background-color: #011638;
      border-radius: 25px;
      padding: 0.4rem 0.5rem;
      white-space: nowrap;
      font-size: 0.9rem;
    }
  }

}