.a-propos {
  padding: 100px 350px !important;
  color: #777;
  text-align: justify; }
  .a-propos .title {
    color: #4acaa8;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 35px; }
  .a-propos ul {
    font-size: 18px;
    margin-bottom: 25px; }
    .a-propos ul li {
      margin-top: 20px; }
  .a-propos p {
    font-size: 18px;
    margin-bottom: 25px; }
