.a-propos {

    padding: 100px 350px !important;
    
    color: #777;
    text-align: justify;
    
    .title {
        color: #4acaa8;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 28px;
    }
    
    ul {
        font-size: 18px;
        margin-bottom: 25px;
        li {
            margin-top: 20px;
            
        }
    }
    
    p {
        font-size: 18px;
        margin-bottom: 25px;
    }
}