#a-propos {

    color: #777;
    text-align: justify;
    
    .title {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 35px;
    }
    
    ul {
        font-size: 18px;
        margin-bottom: 25px;

        li {
            margin-top: 20px;
            list-style: none;

            i {
                margin: 20px;
                font-size: 26px;
                background: #4acaa8;
                border-radius: 50%;
                color: #FFF;
                padding: 10px;
                width: 50px;
                height: 50px;
                line-height: 32px;
            }
        }
    }
    
    p {
        font-size: 18px;
        margin-bottom: 25px;
    }
}