#dashboard {
    color: #FFFFFF;
    padding: 0 1rem 1rem 0;
    display: flex;

    .date {
        min-width: 120px;
        display: flex;
        justify-content: center;
    }

    p {
        margin: 0 1rem;
        display: inline-block;
        background-color: #008291;
        padding: 0.2rem 0.6rem;
        border-radius: 20px;
        font-weight: 600;

        .money-infos {
            font-weight: 400;
            font-size: 0.9rem;

            &.up {
                color: lightgreen;
            }

            &.down {
                color: lightcoral;
            }
        }
    }

    .time {
        i {
            margin-left: 0.5rem;
            cursor: pointer;
            color: #F7F7F2;
            font-size: 0.8rem;
        }
    }

}
