#header {

  text-align: center;

  &:after {
    content: "";
    display: block;
    background: white;
    height: 75px;
    margin-bottom: -40px;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    transform: skew(0deg,-2deg);
    -ms-transform: skew(0deg,-2deg);
    -webkit-transform: skew(0deg,-2deg);
  }

  h2 {
    text-transform: inherit;
    letter-spacing: 2px;
    font-size: 2rem;
  }

}