#header {
  background-color: #F7F7F2;
  color: #008291;
  overflow: hidden;
  text-align: center;

  &:after {
    content: "";
    display: block;
    background: white;
    height: 75px;
    margin-bottom: -40px;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    transform: skew(0deg,-2deg);
    -ms-transform: skew(0deg,-2deg);
    -webkit-transform: skew(0deg,-2deg);
  }

  h2 {
    text-transform: inherit;
    letter-spacing: 2px;
    font-size: 2rem;
  }

  img {
    display: none;
    position: absolute;
    top: 1rem;
    left: 8rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #008291;
  }

}

@media(max-width: 1100px) {

  h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

}