#header {
  text-align: center; }
  #header:after {
    content: "";
    display: block;
    background: white;
    height: 75px;
    margin-bottom: -40px;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    transform: skew(0deg, -2deg);
    -ms-transform: skew(0deg, -2deg);
    -webkit-transform: skew(0deg, -2deg); }
  #header h2 {
    text-transform: inherit;
    letter-spacing: 2px;
    font-size: 2rem; }
  #header img {
    display: none;
    position: absolute;
    top: 1rem;
    left: 8rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #008291; }
