.entity {
  border: 2px solid #008291;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.2rem;

  p {
    margin: 0;

    &.type {
      font-weight: 600;
    }
  }

  .picto {
    display: block;
    width: 20px;
    height: 20px;
  }

  &.isSelected {
    border: 2px solid #F7F7F2;
  }

  &:hover {
    border: 2px solid #F7F7F2;
    cursor: pointer;
  }
}