.entity {
  border: 2px solid #008291;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.2rem; }
  .entity p {
    margin: 0; }
    .entity p.type {
      font-weight: 600; }
  .entity .picto {
    display: block;
    width: 20px;
    height: 20px; }
  .entity.isSelected {
    border: 2px solid #F7F7F2; }
  .entity:hover {
    border: 2px solid #F7F7F2;
    cursor: pointer; }
